
body{background-color:rgb(7, 225, 225)
}

 
 h1{
    color:black;
    text-align:center;
    font-size:80px;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
h2{
   color:purple;
    text-align:center;
    font-size:40px;
    text-decoration: underline;
}

p{
    
}

{h3
    color:black
}
